azure/adf/pipelines/property_market_orchestration.json
{
  "description": "Orchestrates NSW property market ingestion, dbt transformation, and ADLS gold export using Azure Data Factory and Azure Databricks.",
  "activities": [
    {
      "name": "Check raw property sales file",
      "type": "GetMetadata",
      "dependsOn": [],
      "policy": {
        "timeout": "0.12:00:00",
        "retry": 1,
        "retryIntervalInSeconds": 30,
        "secureOutput": false,
        "secureInput": false
      },
      "typeProperties": {
        "dataset": {
          "referenceName": "ds_adls_raw_property_sales",
          "type": "DatasetReference"
        },
        "fieldList": [
          "exists",
          "size",
          "lastModified"
        ]
      }
    },
    {
      "name": "If raw file exists",
      "type": "IfCondition",
      "dependsOn": [
        {
          "activity": "Check raw property sales file",
          "dependencyConditions": [
            "Succeeded"
          ]
        }
      ],
      "typeProperties": {
        "expression": {
          "value": "@activity('Check raw property sales file').output.exists",
          "type": "Expression"
        },
        "ifTrueActivities": [
          {
            "name": "Run ADLS Auto Loader",
            "type": "DatabricksNotebook",
            "dependsOn": [],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 1,
              "retryIntervalInSeconds": 60,
              "secureOutput": false,
              "secureInput": false
            },
            "linkedServiceName": {
              "referenceName": "ls_azure_databricks_property",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "notebookPath": "/Users/vyomchauhan@icloud.com/au-property-market-dbt-databricks/databricks/notebooks/load_raw_property_sales_autoloader_adls"
            }
          },
          {
            "name": "Run dbt build",
            "type": "DatabricksNotebook",
            "dependsOn": [
              {
                "activity": "Run ADLS Auto Loader",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 0,
              "retryIntervalInSeconds": 60,
              "secureOutput": false,
              "secureInput": false
            },
            "linkedServiceName": {
              "referenceName": "ls_azure_databricks_property",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "notebookPath": "/Users/vyomchauhan@icloud.com/au-property-market-dbt-databricks/databricks/notebooks/run_dbt_build"
            }
          },
          {
            "name": "Export gold marts to ADLS",
            "type": "DatabricksNotebook",
            "dependsOn": [
              {
                "activity": "Run dbt build",
                "dependencyConditions": [
                  "Succeeded"
                ]
              }
            ],
            "policy": {
              "timeout": "0.12:00:00",
              "retry": 1,
              "retryIntervalInSeconds": 60,
              "secureOutput": false,
              "secureInput": false
            },
            "linkedServiceName": {
              "referenceName": "ls_azure_databricks_property",
              "type": "LinkedServiceReference"
            },
            "typeProperties": {
              "notebookPath": "/Users/vyomchauhan@icloud.com/au-property-market-dbt-databricks/databricks/notebooks/export_gold_marts_to_adls"
            }
          }
        ],
        "ifFalseActivities": [
          {
            "name": "Raw file missing wait",
            "type": "Wait",
            "dependsOn": [],
            "typeProperties": {
              "waitTimeInSeconds": 30
            }
          }
        ]
      }
    }
  ],
  "annotations": [
    "adls-gen2",
    "azure-databricks",
    "dbt",
    "property-market"
  ]
}
