azure/adf/pipelines/property_market_orchestration.json
{
    "name": "property_market_orchestration",
    "properties": {
      "description": "ADF orchestration pattern for the Australian property market lakehouse pipeline. The pipeline checks for raw NSW property sales data in ADLS Gen2, triggers Databricks ingestion, runs transformation/export jobs, and supports downstream Synapse reporting.",
      "activities": [
        {
          "name": "Check raw property sales file exists",
          "type": "GetMetadata",
          "dependsOn": [],
          "policy": {
            "timeout": "0.12:00:00",
            "retry": 2,
            "retryIntervalInSeconds": 60
          },
          "typeProperties": {
            "dataset": {
              "referenceName": "ds_adls_raw_property_sales",
              "type": "DatasetReference"
            },
            "fieldList": [
              "exists",
              "size",
              "lastModified"
            ]
          }
        },
        {
          "name": "If raw file exists",
          "type": "IfCondition",
          "dependsOn": [
            {
              "activity": "Check raw property sales file exists",
              "dependencyConditions": [
                "Succeeded"
              ]
            }
          ],
          "typeProperties": {
            "expression": {
              "type": "Expression",
              "value": "@activity('Check raw property sales file exists').output.exists"
            },
            "ifTrueActivities": [
              {
                "name": "Run Databricks ADLS Auto Loader ingestion",
                "type": "DatabricksNotebook",
                "dependsOn": [],
                "typeProperties": {
                  "notebookPath": "/Repos/vyom/au-property-market-dbt-databricks/databricks/notebooks/load_raw_property_sales_autoloader_adls"
                }
              },
              {
                "name": "Run dbt build job",
                "type": "DatabricksNotebook",
                "dependsOn": [
                  {
                    "activity": "Run Databricks ADLS Auto Loader ingestion",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "typeProperties": {
                  "notebookPath": "/Repos/vyom/au-property-market-dbt-databricks/databricks/notebooks/run_dbt_build"
                }
              },
              {
                "name": "Export gold marts to ADLS",
                "type": "DatabricksNotebook",
                "dependsOn": [
                  {
                    "activity": "Run dbt build job",
                    "dependencyConditions": [
                      "Succeeded"
                    ]
                  }
                ],
                "typeProperties": {
                  "notebookPath": "/Repos/vyom/au-property-market-dbt-databricks/databricks/notebooks/export_gold_marts_to_adls"
                }
              }
            ],
            "ifFalseActivities": [
              {
                "name": "No raw file found",
                "type": "Wait",
                "typeProperties": {
                  "waitTimeInSeconds": 1
                }
              }
            ]
          }
        }
      ],
      "annotations": [
        "portfolio",
        "adls-gen2",
        "databricks",
        "dbt",
        "synapse"
      ]
    }
  }